@import "tailwindcss";

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  user-select: none;
  -webkit-touch-callout: none;
}

body {
  background-color: #F4F4F4;
  font-family: 'Open Sans', sans-serif;
}

/* Prevent layout shifts from scrollbars */
html {
  scrollbar-gutter: stable;
}

/* Custom scrollbar for small areas if needed */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #20126E;
  border-radius: 10px;
}
